# ---- renv (CRITICAL) ----
renv/library
renv/staging
renv/cache

# ---- RStudio / session files ----
.Rhistory
.RData
.Rproj.user/

# ---- OS / editor ----
.DS_Store
Thumbs.db
.vscode/
.idea/

# ---- Git ----
.git
.gitignore

# ---- Logs / temp ----
*.log
*.tmp
*.swp

# ---- Extra
0.*