
## Generated outputs
# Results 
Results/*
!Results/.gitkeep
# Data/Preprocessed
Data/Preprocessed/*
!Data/Preprocessed/.gitkeep

## Renv
renv/library
renv/cache
renv/staging

# R session
.Rhistory
.RData

# Miscellaneous
.git
.gitignore
*.iqy
